// Default Fonts

@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
    font-family: "Nimbus Sans L";
    src:
        url("/fonts/NimbusSanL-Reg.otf") format("opentype");
}

$fonts: "Funnel Sans", "Verdana", "Trebuchet MS", system-ui, sans-serif;
$heading-fonts: "Nimbus Sans L", $fonts, sans-serif;
$code-fonts: "Consolas", "Lucida Console", $fonts, monospace;