.slideOutDown {
  max-height: 100% !important;
}

table th, table td {
    padding: 1.5%;
    border: unset !important;
    text-align: left !important;
}

table {
  width: 90% !important;
}

.content a {
    box-shadow: unset !important;
    text-decoration: underline !important;
}

.header-logo {
    width: 120px;
    margin-top: 12px;
}

.hdr-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    flex-direction: row;
}

/* Parent container styling */
#player {
    display: flex; /* Enable flexbox layout */
    width: 100%;
    max-width: 800px; /* Limit the overall width */
    height: 300px; /* Set a height for consistency */
    overflow: hidden;
}

/* DJ picture section */
.player-headshot {
    flex: 1; /* Take up 1 part of the flex space */
    overflow: hidden; /* Ensure no overflow */
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-headshot img {
    width: 100%; /* Ensure the image scales to fit the container width */
    height: 100%; /* Ensure the image scales to fit the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}

/* Metadata and play button section */
.player-metadata-play {
    flex: 2; /* Take up 2 parts of the flex space */
    padding: 20px; /* Add padding around the content */
    display: flex;
    background: transparent;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    color: #AFFC41; /* Ensure text is readable on dark background */
}

/* Play button styling */
#player-button {
    margin-bottom: 15px; /* Space between button and metadata */
    display: flex;
    justify-content: right;
}

#player-button img {
    width: 80px;
    height: 80px;
}

/* Metadata styling */
.player-metadata {
    text-align: right; /* Align text to the left */
}

#player-metadata-show {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#player-metadata-dj-name {
    font-size: 1.2rem;
    color: #AFFC41;
    margin-bottom: 10px;
}

#player-metadata-show-desc {
    font-size: 1rem;
    color: #AFFC41;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    #player {
        flex-direction: column; /* Stack sections vertically */
        height: auto; /* Allow dynamic height */
    }

    .player-headshot {
        height: 200px; /* Set a fixed height for the headshot section */
    }

    .player-metadata-play {
        padding: 10px;
    }
}
