/* Hide overflow on the listen home page */
.index-page {
    height: 100%;
    overflow: hidden;
  }

h1, h2, h3, h4, h5, h6, #site-header > div > div.hdr-left > nav, {
    font-family: $heading-fonts;
    font-weight: 700;
    letter-spacing: 0.08em;
}

#site-header > div > div.hdr-left > nav, {
    font-family: $heading-fonts;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.slideOutDown {
  max-height: 100% !important;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: unset !important;
    border: unset !important;
    text-align: left !important;
    font-size: small;
}

table caption {
    text-align: left !important;
    font-size: small;
    font-style: italic;
}

.content a {
    box-shadow: unset !important;
    text-decoration: underline !important;
}

.header-logo {
    width: 200px;
    margin-top: 12px;
}

.eist-event {
    /* if you wanna */
}

/* Parent container styling */
#player {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    position: relative;
}

.broadcast-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: right;
    height: 60px;
    align-items: center;
    flex-wrap: nowrap;
}

.broadcast-status-indicator {
    width: 0.5em;
    padding: 0.4em;
    margin-top: 0.2em;
    z-index: 2;
}

.broadcasting-live-text-status {
    font-size: 1em;
    text-transform: lowercase;
    z-index: 2;
}

.player-background {
    flex: 2;
    overflow: hidden;
    display: flex;
    max-height: 18em;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}

.player-background img {
    width: -webkit-fill-available;
    width: 100%;
    overflow: hidden;
    opacity: 20%;
}

.player-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(175, 252, 65, 1) 0%,
    rgba(175, 252, 65, 0.3) 50%,
    rgba(175, 252, 65, 0.15) 65%,
    rgba(175, 252, 65, 0.075) 75.5%,
    rgba(175, 252, 65, 0.037) 82.85%,
    rgba(175, 252, 65, 0.019) 88%,
    #00000000 120%
  );
  pointer-events: none;
}

.player-now-playing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    z-index: 2;
    padding-bottom: 20px;
}

/* Metadata and play button section */
.player-metadata-play {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 3em;
}

/* Play button styling */
#player-button {
    display: flex;
    justify-content: right;
}

#player-button img {
    width: 3em;
    height: 3em;
}

/* Metadata styling */
.player-metadata {
    display: block;
    align-items: top;
    align-items: top;
    text-align: right;
    margin-block-start: 1em;

}


#player-metadata-dj-name {
    color: #AFFC41;
}

#dj-name {
    color: #4733FF;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 700;
    font-size: xx-large;
}

#player-metadata-show-title {
    font-size: large;
    font-weight: bold;
    line-height: 1em;
    text-align: left;
    color: #AFFC41;
}

#player-metadata-show-desc {
    font-size: x-small;
    line-height: 1em;
    text-align: left;
    color: #AFFC41;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: visible;
    text-overflow: ellipsis;
}

.artist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #AFFC41;
}

.artist-image-container {
    display: flex;
    justify-content: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.artist-image {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s ease, opacity 0.5s ease;
}

/* Gradient overlay */
.artist-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #4733FF);
    pointer-events: none;
    opacity: 0.8;
}

.artist-image-container:hover .artist-image {
    filter: grayscale(0);
    opacity: 1;
}

.artist-content {
    display: flex;
    flex-direction: column;
}

.artist-content h3 {
    color: #4733FF;
    margin-block-end: unset !important;
    padding-left: 1em;
    padding-right: 1em;
}

.artist-desc {
    color: #4733FF;
    padding-left: 1em;
    padding-right: 1em;
}

.artist-desc a {
    font-weight: bold;
    color: #4733FF;
}

.index-footer {
    display: flex;
    text-align: end;
    font-size: large;
    position: relative;
    bottom: 5;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 1em;
}

.banner-404 {
    margin: unset !important;
    margin-top: 8em;
    font-size: xxx-large;
    text-align: center;
}

body {
    -webkit-user-select: unset !important;
    -moz-user-select: unset !important;
    -ms-user-select: unset !important; 
    user-select: unset !important;
}

.pp {
    width: 60%;
    position: relative;
    z-index: 0;
}

@media (max-width: 760px) {
    #player {
        flex-direction: column;
        height: auto;
    }

    .hdr-wrapper {
        display: flex;
        justify-content: space-between !important;
    }

    .header-logo {
        width: 125px;
        margin-top: 10px;
    }

    .player-background {
        flex: 2;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .player-background img {
        width: -webkit-fill-available;
        overflow: hidden;
        opacity: 20%;
    }

    .player-now-playing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 3em;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 30px;
        padding-bottom: 20px;
        z-index: 2;
    }

    #dj-name {
        color: #4733FF;
        padding-bottom: 10px;
        padding-left: 20px;
        font-weight: 700;
        font-size: xx-large;
    }

    #player-metadata-show-desc {
        display: none;
    }

    #player-metadata-show-title {
        font-size: medium;
    }

    .index-footer {
        display: flex;
        text-align: end;
        font-size: large;
        position: relative;
        bottom: 5;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .artist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        border-radius: 8px;
        background-color: #AFFC41;
    }

    .artist-content {
        flex: 1;
    }

}
