.front-page-img {
max-width:100%;
height: auto; 
}

.slideOutDown {
  max-height: 100% !important;
}

table th, table td {
    padding: 1.5%;
    border: unset !important;
    text-align: left !important;
}

table {
  width: 90% !important;
}

.content a {
    box-shadow: unset !important;
    text-decoration: underline !important;
}

.header-logo {
  width: 120px;
}

.hdr-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    flex-direction: row;
}

#site-footer {
  position: fixed;
  bottom: 20px;
}