{{ $rootCtx := . }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{- partial "site-meta.html" . -}}
    {{ $author := (.Params.author | default .Site.Params.author.name) -}}
    <meta name="author" content="{{ $author }}">
    {{- with .Page.Params.description | default .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{- end -}}
    {{- partial "webschema.html" . -}}
    <title>{{ .Title }}</title>
    {{ range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
    {{ end -}}
    {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
    <link rel="stylesheet dns-prefetch preconnect preload prefetch" as="style" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">
    {{- range .Params.custom_css -}}
    {{ $c_css := resources.Get . | resources.ExecuteAsTemplate "css/style.css" $rootCtx | toCSS | minify | fingerprint -}}
    <link rel="stylesheet preload prefetch" as="style" href="{{ $c_css.Permalink }}" {{ printf "integrity=%q" $c_css.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">
    {{- end -}}
    {{- block "head" . -}}{{- end -}}
    {{- if templates.Exists "partials/extra-head.html" -}}{{- partial "extra-head.html" . -}}{{- end -}}
</head>

<body id="page">
    {{- block "header" . -}}{{ end -}}
    {{- block "main" . -}}{{ end -}}
    {{- block "footer" . -}}{{ end -}}
    {{- partial "scroll-to-top.html" . -}}
    <!-- Load main.js -->
    {{- $main := resources.Get "js/main.js" -}}
    {{ $script := $main | minify | fingerprint -}}
    <script async src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
    <!-- Load copylink.js -->
    {{- $copylink := resources.Get "js/copylink.js" -}}
    {{ $copylinkScript := $copylink | minify | fingerprint -}}
    <script async src="{{ $copylinkScript.Permalink }}" {{ printf "integrity=%q" $copylinkScript.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
    {{- if and (not (eq .Site.Params.shareSocial nil)) (.Site.Params.shareSocial) -}}
    {{- end -}}
    {{- if templates.Exists "partials/extra-foot.html" -}}{{- partial "extra-foot.html" . -}}{{- end -}}
</body>

</html>