{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}
{{ define "main" }}
<main class="site-main section-inner thin">
    <h1>{{ .Title }}</h1>
    <div class="content">
        {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"></a>${3}` | safeHTML }}
    </div>
    <div>
        <a href="" id="copy-link">Share this page&nbsp;</a>
        {{- partial "svg.html" (dict "context" . "name" "share") -}}
    </div>
</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}