{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}
{{ define "main" }}
<main class="site-main section-inner thin">
    <h1>{{ .Title }}</h1>
    <div class="content">
        {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <circle cx="18" cy="5" r="3"></circle> <circle cx="6" cy="12" r="3"></circle> <circle cx="18" cy="19" r="3"></circle> <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line> <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line> </svg></a>${3}` | safeHTML }}
    </div>
    <div>
        <a href="" id="copy-link">Share this page&nbsp;</a>
        {{- partial "svg.html" (dict "context" . "name" "share") -}}
    </div>
</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}