<div id="player-small">
    <div class="audio-player" id="global-player" data-turbo-permanent>
        <img id="playPauseBtn" src="/play.svg" alt="Play">
        <!--Psst!!! You hacking audio playback bruv? Update src="https://stream-relay-geo.ntslive.net/stream" they 24/7 bruv -->
        <audio id="audio" src="https://eist-radio.radiocult.fm/stream"></audio>
        <div class="broadcast-status">
            <div class="broadcasting-live-text-status">
                <p id="live-text"></p>
            </div>
        </div>
    </div>
</div>