{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}
{{ define "main" }}
<main class="site-main section-inner thin">
    <div id="spotlight">
        <p id="home-subtitle">
            <a href="#" onclick="
                if (!window.currentAudio) {
                    window.currentAudio = new Audio('http://stream-relay-geo.ntslive.net/stream');
                    window.currentAudio.play();
                    document.querySelector('#home-subtitle img').style.filter = 'grayscale(0%)';
                } else if (window.currentAudio.paused) {
                    window.currentAudio.play();
                    document.querySelector('#home-subtitle img').style.filter = 'grayscale(0%)';
                } else {
                    window.currentAudio.pause();
                    document.querySelector('#home-subtitle img').style.filter = 'grayscale(100%)';
                }
                return false;">
                <img 
                    src="4-dots.png" 
                    style="filter: grayscale(100%); transition: filter 0.3s;" 
                    onmouseover="this.style.filter = 'grayscale(0%)';" 
                    onmouseout="if (!window.currentAudio || window.currentAudio.paused) this.style.filter = 'grayscale(100%)';" class="front-page-img" />
            </a>
        </p>
    </div>
</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}