{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}
{{ define "main" }}
<main class="site-main section-inner thin">
     <div id="spotlight">
        <p id="home-subtitle">
            <a href="#" onclick="
                if (!window.currentAudio) {
                    window.currentAudio = new Audio('http://stream-relay-geo.ntslive.net/stream');
                    window.currentAudio.play();
                    document.querySelector('#home-subtitle img').src = 'pause.svg';
                } else if (window.currentAudio.paused) {
                    window.currentAudio.play();
                    document.querySelector('#home-subtitle img').src = 'pause.svg';
                } else {
                    window.currentAudio.pause();
                    document.querySelector('#home-subtitle img').src = 'play.svg';
                }
                return false;">
                <img 
                    src="play.svg" 
                    class="front-page-img" />
            </a>
        </p>
        <!-- Use the API to populate some HTML elements here, pull artist image, etc -->
        <p id="home-subtitle">You are listening to Éist (broadcasting live)</p>
    </div>

    <!-- Embed a custom radio player cos this default one is ick.

https://www.radiocult.fm/features/embeddable-components

Maybe:

https://github.com/jailsonsb2/RadioPlayer

https://github.com/SH20RAJ/soundwave
-->
    <!-- Embed an automatically updating radio schedule by using the Radiocult API. https://www.radiocult.fm/docs/api#schedule -->
</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}