{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}
{{ define "main" }}
<main class="site-main section-inner thin">
    <div id="spotlight">
        <!-- Use the API to populate some HTML elements here, pull artist image, etc -->
        <div id="player">
            <div class="broadcast-status">
                <div class="broadcasting-live-text-status">
                    <p id="live-text">live</p>
                    <!-- <p id="live-text">offline</p> -->
                </div>
                <img src="live.svg" class="broadcast-status-indicator" />
            </div>
            <div class="player-headshot">
                <img src="test-dj-2.png" alt="DJ Headshot" class="headshot" />
            </div>
            <div class="player-now-playing">
                <div id="player-button">
                    <a href="#" onclick="
                    if (!window.currentAudio) {
                        window.currentAudio = new Audio('https://eist-radio.radiocult.fm/stream');
                        window.currentAudio.play();
                        document.querySelector('#player-button img').src = 'pause.svg';
                    } else if (window.currentAudio.paused) {
                        window.currentAudio.play();
                        document.querySelector('#player-button img').src = 'pause.svg';
                    } else {
                        window.currentAudio.pause();
                        document.querySelector('#player-button img').src = 'play.svg';
                    }
                    return false;">
                        <img src="play.svg" class="play-button" />
                    </a>
                </div>
                <div class="player-metadata-dj-name">
                    <p id="dj-name">Dj Test</p>
                </div>
            </div>
            <div class="player-metadata-play">
                <div class="player-metadata">
                    <p id="player-metadata-show">The DJ Test Show</p>
                    <p id="player-metadata-show-desc">Testing testing one two three testing testing one two three </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Embed a custom radio player cos this default one is ick.

https://www.radiocult.fm/features/embeddable-components

Maybe:

https://github.com/jailsonsb2/RadioPlayer

https://github.com/SH20RAJ/soundwave
-->
    <!-- Embed an automatically updating radio schedule by using the Radiocult API. https://www.radiocult.fm/docs/api#schedule -->
</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}